@{
    ViewData["Title"] = "About Us";
}
    <div class="text-center">
        <h1 class="display-4">About Dealership</h1>
        <p>Why you need to know these thing?</p>
    </div>
<p class="text-center">You want buy car, we have car. What more you need to know?</p>
