@{
    ViewBag.Title = "Admin";
}



<h1> Admin/home</h1>
<div class="text-center">
    <h1 class="display-4">Admin Stuff</h1>
    <p>Time to make the money!</p>
</div>
<div>
    <img src="~/images/borat-thumbs-up.jpg" />
</div>